* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
  
}
body {
  background-color: #201E1C;
}
.navbar {
  background-color: #282623 !important;
  height: 120px;
}
.navbar h1 {
  font-size: 3.5rem;
  margin-left: 10px;
  color: #CACACA;
}
.nav-item a{
  color: #CACACA !important;
  font-size: 1.8rem;
  margin-right: 13px;
}
.nav-item a:hover {
  color: white !important;
  text-decoration: underline white;
}
.btn-registrate {
  margin-right: 20px;
  background-color: #FFBC0A !important;
  font-size: 20px;
  color: #282623;
  height: 50px;
  width: 180px;
  border-radius: 6px;
  box-shadow: 10px 10px 8px 0px rgba(255,188,10,0.38);
  -webkit-box-shadow: 10px 10px 8px 0px rgba(255,188,10,0.38);
  -moz-box-shadow: 10px 10px 8px 0px rgba(255,188,10,0.38);
}
.btn-inicie-sesion {
  background-color: #A7A7A7;
  font-size: 20px;
  color: #282623;
  height: 50px;
  width: 180px;
  border-radius: 6px;
  box-shadow: 10px 10px 10px 0px rgba(167,167,167,0.61);
-webkit-box-shadow: 10px 10px 10px 0px rgba(167,167,167,0.61);
-moz-box-shadow: 10px 10px 10px 0px rgba(167,167,167,0.61);
}
.btn-actions {
  width: 100%;
}
.bg-black {
  background-color: #282623 !important;
}
.titulo h1 {
  font-size: 5rem;
  color: #EEEEEE;
}
.titulo .resalte-titulo {
  color: #FFBC0A;
}
#main {
  margin-top: 100px;
}

#main .carousel-inner img {
  max-height: 50vh;
  object-fit: cover;
  filter: grayscale(70%);
}
#carousel {
  position: relative;
}
#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#carousel .overlay .container, #carousel .overlay .row {
  height: 100%; 
}
.tarjeta {
  height: 500px;
  color: #EEEEEE;
  border-radius: 5px;
}
.tarjeta img {
  border-radius: 5px 5px 0 0;
}
.tarjeta h3 {
  font-size: 3.5rem;
}
.tarjeta p {
  font-size: 1.8rem;
}
.bg-llantas {
  background-color: #73f532b2;
}
.bg-escaner {
  background-color: #853EFF;
}
.bg-vestidura {
  background-color: #d21e1ecc;
}
.bg-vidreria {
  background-color: #FFBC0A;
}
.bg-electricista {
  background-color: #219FFF;
}
.especialidad {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.badges {
  display: flex;
  align-items: center;
}










#footer {
  margin-top: 100px;
}
#footer .container-footer {
  background-color: #ffbb00ce;
}
#footer .container-footer .information a {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
}
#footer .container-footer .information a:hover {
  color: black;
  text-decoration: underline black;
  font-size: 1.8rem;
}
.logo-inferior {
  height: 80px;
}
.foot {
  height: 10px;
  background-color: #282623;
}


@media (max-width: 620px) {
  header .logo {
    margin-right: 0;
  }
  .navbar {
    min-width: 310px;
    width: 100%;
    display: inline-block;
  }
  .navbar h1 {
    font-size: 2.5rem;
    margin-left: 10px;
    color: #CACACA;
  }
}
@media (max-width: 340px) {
  header .logo {
    margin-right: 0;
  }
  .navbar h1 {
    font-size: 1.5rem;
    
    color: #CACACA;
  }
  .nav-item a {
    margin-right: 0;
  }
  .btn-inicie-sesion, .btn-registrate {
    width: 50%;
  }

  #footer{
    margin-top: 200px;
  }
}