* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
.navbar {
  background-color: #282623 !important;
  height: 120px;
}
.navbar h1 {
  font-size: 3.5rem;
  color: #CACACA;
}
.nav-item a{
  color: #CACACA !important;
  font-size: 1.8rem;
  margin-right: 13px;
}
.btn-registrate {
  background-color: #FFBC0A !important;
  color: #282623;
}
.btn-inicie-sesion {
  background-color: #A7A7A7;
  color: #282623;
}














#footer .container-footer {
  background-color: #ffbb00ad;
  height: 100px;
}
#footer .container-footer .information a {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
}
#footer .container-footer .information a:hover {
  color: black;
  text-decoration: underline black;
  font-size: 1.8rem;
}
.logo-inferior {
  height: 80px;
}
.foot {
  height: 10px;
  background-color: #282623;
}