<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/trabajo.css' %}">
  <title>Rayo McQueen</title>
  <link  rel="icon"   href="{% static 'core/img/icon/logo.svg' %}" type="imge/svg" />
  
</head>
<body>
  <!-- HEADER -->
  <header>
    <nav id="header"class="navbar navbar-personalizado navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a href="">
            {% load static %}
            <img src="{% static 'core/img/icon/logo-solido.svg' %}" alt="" class=" logo">
          </a>
          <a class="navbar-brand" href="{% url 'home' %}">
            <h1 class="me-5">EL RAYO<br>MCQUEEN</br></h1>
          </a>
          <button class="navbar-toggler btn-carousel" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{% static 'core/img/icon/toggle-button.svg' %}" ></img>
          </button>
          <div class="collapse navbar-collapse bg-black" id="navbar">
            <ul class="navbar-nav text-center d-flex align-items-center ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quienes_somos' %}">¿QUIÉNES SOMOS?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'mecanicos' %}">MECÁNICOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TRABAJOS REALIZADOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contacto' %}">CONTACTO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'busquedas' %}">BÚSQUEDAS</a>
              </li>
            </ul>
            <div class="btn-actions mb-5 d-flex justify-content-sm-center justify-content-md-center justify-content-lg-end justify-content-center align-items-end">
              <button class="btn btn-registrate  me-4">Regístrate</button>
              <button class="btn btn-inicie-sesion">Inicie sesión</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- /HEADER -->
    <!-- TRABAJOS REALIZADOS -->
    <section class="datos-trabajo">
      <div class="container">
        <div class="row">
          <h1>Trabajo destacado</h1>
          <div class="container-trabajo col-1">
            <div class="foto-trabajo col-md-4" >
              <img src="{{trabajo_realizado.foto_trabajo.url}}" alt=""/>
            </div>
            <div class="container-informacion-detalle">
              <ul class="lista-detalle">
                <li>Trabajo realizado: {{trabajo_realizado.tipo_trabajo}}</li>
                <li>Nombre mecánico: {{trabajo_realizado.mecanico}}</li>
                <li>Detalles: {{trabajo_realizado.mas_informacion}}</li>
              </ul>
              <div class="container container-btn">
                <a href="{% url 'home' %}" class="btn btn-registrate btn-regresar">Regresar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /TRABAJOS REALIZADOS -->




    <!-- FOOTER -->
    <footer id="footer">
      <div class="container-fluid container-footer">
        <div class="row information">
          <div class="col-12 col-lg-1 text-center mt-5">
            <a href="{}">¿Quiénes somos?</a>
          </div>
          <div class="col-12 col-lg-1 text-center mt-5">
            <a href="#">Mecánicos</a>
          </div>
          <div class="col-12 col-lg-1 text-center  mt-5">
            <a href="#">Trabajos realizados</a>
          </div>
          <div class="col-12 col-lg-1 text-center mt-5">
            <a href="#">Contacto</a>
          </div>
          <div class="col-12 col-lg-1 text-center mt-5">
            <a href="#">Términos y condiciones</a>
          </div>
        </div>
      </div>
      <div class="container-fluid foot"></div>
    </footer>
    <!-- /FOOTER -->
</body>
</html>