<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  {% load static %}
  <link  rel="icon"   href="{% static 'core/img/icon/logo.svg' %}" type="imge/svg" />
  <link rel="stylesheet" href="{% static 'core/css/forms_crud.css' %}">
  <title>Crear vehiculo</title>
</head>
<body>
  <!-- FORMULARIO -->
  <section class="main-formulario" id="main">
    <div class="titulo d-flex justify-content-center " >
      <h1>REGISTRO</h1>
    </div>
    <div class="container container-formulario d-flex justify-content-center align-items-center  mb-5">
      <div class="row">
        <div class="col-12 col-lg block">
          <form method="POST" action=".">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <div class="mb-3 container-campos">
              <label for="exampleInputUser" class="form-label">Patente</label>
              <input maxlength="6" type="text" class="form-control campo" required id="exampleInputPatente" aria-describedby="emailHelp" name="patente">
            </div>
            <div class="mb-3 container-campos">
              <label for="exampleInputEmail" class="form-label">Marca</label>
              <input type="text" required class="form-control campo" id="exampleInputMara" name="marca">
            </div>
            <div class="mb-3 container-campos">
              <label for="exampleInputPassword1" class="form-label">Modelo</label>
              <input type="text" required class="form-control campo" id="exampleInputModelo" name="modelo">
            </div>
            <div class="mb-3 container-campos">
              <label for="exampleInputPassword1" class="form-label">Año</label>
              <input type="number" required class="form-control campo" id="exampleInputAnnio" name="annio">
            </div>
            <button type="submit" class="btn btn-iniciar">Crear</button>
            <a class="btn btn-regresar" href="{% url 'admin_view' %}">Regresar</a>
          </form>

        </div>
      </div>
    </div>
    <div class="aler alert-success" role="alert">
      {{mensaje}}
    </div>
    {% if form.non_field_errors %}
    <div class="container alert alert-danger mt-5">
      <ul class="lista-errores">
        {% for error in form.non_field_errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
</body>
</html>