<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  {% load static %}
  <link  rel="icon"   href="{% static 'core/img/icon/logo.svg' %}" type="imge/svg" />
  <link rel="stylesheet" href="{% static 'core/css/forms_crud.css' %}">
  <title>Crear vehiculo</title>
</head>
<body>
  <!-- FORMULARIO -->
  <section class="main-formulario" id="main">
    <div class="titulo d-flex justify-content-center " >
      <h1>CREAR TRABAJO</h1>
    </div>
    <div class="container container-formulario d-flex justify-content-center align-items-center  mb-5">
      <div class="row">
        <div class="col-12 col-lg block">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3 container-campos">
              <label for="exampleInputUser" class="form-label">Id trabajo</label>
              <input maxlength="6" type="text" class="form-control campo" required id="exampleInputPatente" aria-describedby="emailHelp" name="id_trabajo" value="{{trabajo_realizado.id_trabajo}}" readonly>
            </div>
            <div class="mb-3 container-campos">
              <label for="exampleInputEmail" class="form-label">Tipo de trabajo</label>
              <input type="text" required class="form-control campo" id="exampleInputMara" name="tipo_trabajo" value="{{trabajo_realizado.tipo_trabajo}}">
            </div>

            <div class="mb-3 container-campos">
              <label for="exampleInputPassword1" class="form-label">Mecánico</label>
              <select name="mecanico" required id="id_mecanico" class="combobox" >
                <option value="" selected="">---------</option>
                {% for mecanico in mecanicos %}
                <option value="{{mecanico.id_mecanico}}">{{mecanico.nombre_mecanico}}</option>
                {% endfor %}
              
              </select>
            </div>
            <div class="mb-3 container-campos">
              <label for="exampleInputPassword1" class="form-label">Vehículo</label>
              <select name="vehiculo" required id="id_vehiculo" class="combobox"  >
                <option value="" selected="">---------</option>
                {% for vehiculo in vehiculos %}
                <option value="{{vehiculo.patente}}">{{vehiculo.modelo}}</option>
                {% endfor %}
              
              </select>
            </div>
            <div class="mb-3 container-campos">
              <label for="exampleInputPassword1" class="form-label">Más información</label>
              <input type="text" required class="form-control campo" id="exampleInputAnnio" name="mas_informacion" value="{{trabajo_realizado.mas_informacion}}">
            </div>
            <div class="mb-3 container-campos">
              <label for="exampleInputPassword1" class="form-label">Foto del trabajo</label>
              <div class="container d-flex">
                <input type="file" required class="form-control campo" id="exampleInputAnnio" name="foto_trabajo" value="{{trabajo_realizado.foto_trabajo}}" src="{% static 'core/img/icon/search-icon.svg' %}" accept="image/png, .jpeg, .jpg">
              </div>
            </div>
            <button type="submit" class="btn btn-iniciar">Crear</button>
            <a class="btn btn-regresar" href="{% url 'admin_view' %}">Regresar</a>
          </form>
        </div>
      </div>
    </div>
    <div class="aler alert-success" role="alert">
      {{mensaje}}
    </div>
    {% if form.non_field_errors %}
    <div class="container alert alert-danger mt-5">
      <ul class="lista-errores">
        {% for error in form.non_field_errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
  
</body>
</html>